.background-design .circle-red{
    position: fixed;
    animation: move 6s infinite ease-in-out;
}

.background-design .circle-blue{
    position: fixed;
    animation: troll 6s infinite ease-in-out;
}

.banner{
    margin-top: 150px;
    line-height: .5;
    position: relative;
    animation: move-in 1s ease-in-out;
}

.banner > h2{
    font-size: 30px;
    color: #ffcef3;
}
.banner > h1{
    font-size: 70px;
}
.banner  p{
    font-size: 30px;
    line-height: 1.5;
}

.banner .btn{
    border: #750113 4px solid;
    background-color: transparent;
    font-size: 20px;
    display: flex;
    padding: 25px;
    border-radius: 5px;
}

.banner .btn a{
    color: #ff304f;
}

.banner .btn:hover{
    border: #ff304f 4px solid;
}
.banner .btn a > img{
    width: 25px;
    height: 25px;
    margin-left: 2px;
    padding-top: 11.833px;
}