.background-design .circle-red{
    position: fixed;
    animation: move 6s infinite ease-in-out;
}

.background-design .circle-blue{
    position: fixed;
    animation: troll 6s infinite ease-in-out;
}

.banner{
    padding-top: 150px;
    line-height: .5;
    animation: banner 1s ease-in-out;
    position: relative;
}

.banner > h2{
    font-size: 30px;
    color: #ffcef3;
}
.banner > h1{
    font-size: 70px;
}
.banner  p{
    font-size: 30px;
    line-height: 1.5;
}

.banner .btn{
    border: #750113 3px solid;
    background-color: transparent;
    color: #ff304f;
    font-size: 20px;
    display: flex;
    padding: 25px;
    border-radius: 5px;
}

.banner .btn:hover{
    border: #ff304f 3px solid;
}
.banner .btn img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 2px;
}